# Default ignored files
/../../AI 07. Polynom, Biisting, Forest, .../.idea/shelf/
/../../AI 07. Polynom, Biisting, Forest, .../.idea/workspace.xml
# Editor-based HTTP Client requests
/../../AI 07. Polynom, Biisting, Forest, .../.idea/httpRequests/
# Datasource local storage ignored files
/../../AI 07. Polynom, Biisting, Forest, .../.idea/dataSources/
/../../AI 07. Polynom, Biisting, Forest, .../.idea/dataSources.local.xml
